<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/app/css/style.css">
        {% endblock %}
	{% block favicon %}
            {% include '_favicon.html.twig' %}
        {% endblock %}

        <!-- bower:css -->
        <!-- endbower -->

        {% block tags %}
            {% include '_tags.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <!-- endbower -->
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'dev' %}
            <script src="//localhost:35729/livereload.js"></script>
        {% else %}

        {% endif %}
    </body>
</html>
